body{
    background-image: url("1.jpeg");
}

.table{
    display: flex;
    justify-content: center;
}

table{
    height: 98vh;
    width: 80vh;
}

.titre{
   font-size: 3rem;
   color:#ff4456;
   border : solid black 1px;
   border-radius: 10px;
   
}

input[type="button"]{
    border-radius: 10px;
    background-color:#ff4456;
    color: black;
    border-color:#ff4456 ;
    width:100%;
    height: 100%;
    outline: none;
}

input[type="button"]:hover{
    background-color: #B9E7FF;
}

input[type="text"]{
border-radius: 10px;
color: black;
border-color:#080808 ;
background-color: rgba(255,255,255,0.5);
width: 98%;
height: 98%;
}


