*{ 
    box-sizing: border-box;
    font-family: Gotham Rounded,sans-serif;
    font-weight: normal;
}

body{
    padding:0;
    margin: 0;
    background: linear-gradient(to right,#00AAFF, #00FF6C);
}

.calculator-grid{
    display: grid;
    justify-content:center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 94px);
    grid-template-rows: minmax(120px, auto) repeat(5, 87px);
}

.calculator-grid > button{
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.75);
}

.point{
    border-bottom-left-radius: 22px;
}

.equal{
    border-bottom-right-radius: 22px;
}

.calculator-grid > button:hover{
    background-color: rgba(255, 255, 255, 0.9);
}

.span-two{
    grid-column: span 2;
}

.output{
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: flex-end;
    padding: 10px;
    align-items: flex-end;
    word-wrap: break-word;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
}

.output >.previous-operand{
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.output >.current-operand{
    color: rgba(255, 255, 255);
    font-size: 2.5rem;
  }